$font: "Karla", sans-serif;
$primary-color: hsl(209, 44%, 43%);
$secondary-color: rgb(177, 94, 94);

body {
    font-family: $font;
    color: $primary-color;
}

.changeH1 {
    color: $secondary-color;
}

.styledDiv {
    width: 25em;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
}